.board {
    border: 1px solid red;
    width: 400px;
    height: 400px;
}

.tile {
    width: 94px;
    height: 94px;
    background: brown;
    color: white;
    border-radius: 10px;
    float: left;
    margin: 3px;
    cursor: pointer;
    font-family: sans-serif;
    font-size: 40px;
    font-weight: 100;
    justify-content: center;
    align-items: center;
    display: inline-flex;
    user-select: none;
}

.blankTile {
    width: 94px;
    height: 94px;
    background: rgb(250, 224, 23);
    border-radius: 10px;
    float: left;
    margin: 3px;
}